body {
  background-color: #34495e;
  font-family: Jura;
}

.App {
  text-align: center;
}

.flex-title {
  flex-direction: column;
  justify-content: center;
}

.margin {
  margin: 10px;
}

h5 {
  margin: 5px;
  color: white;
}

.h-scroll {
  height: 70vh;
  position: fixed;
  overflow-y: scroll;
}

article {
  font-size: 50px;
}

.jumbotron {
  height: 100px;
}

span {
  color: black;
}

@import url('https://fonts.googleapis.com/css?family=Jura');